*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display:flex ;
    margin: 0px;
    background-color: rgb(160, 160, 160);
}

.container img{
    height: 120px;
    padding-right: 400px;
}
.links{
    margin: 20px 10px 10px 10px;
    padding-top: 30px;
    /* border: 1px solid black; */
    
}
.links a{
    /* border: 1px solid black; */
    padding-right:30px;
    padding-left: 30px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}
.links a:hover{
    background-color: rgb(244, 62, 62);
    color: rgb(255, 255, 255);
}
.search{
    margin: 19px;
    /* border: 1px solid black; */
}
.search i{
    transition: 0.5s;
    /* border: 1px solid black; */
    padding-top: 34px;
}
.search i:hover{
    transform: scale(1.1);
}
.detail{
    background-image: url(NikeShoes.webp);
    height: 1000px;
    position:relative;
}
.content{
    position: absolute;
    bottom: 200px;
    
}
.First{
    font-weight: 600;
    font-size: 80px;
    margin: 0px 0px 0px 50px;
}
.second{
    font-weight: 800;
    font-size: 80px;
    margin: 0px 0px 5px 50px;
}
.detail p{
    margin: 10px;
    font-size: 20px;
    padding-left: 37px;
    padding-bottom: 20px;

}
.detail a{
    text-decoration: none;
    margin: 80px 0px 0px 50px;
    border-radius: 30px;
    padding: 20px 50px 20px 50px;
    background-color: red;
    color: white;
    transition: 0.5s;
}
.detail a:hover{
    background-color: rgb(238, 59, 59);
}
.mrp{
    text-align: center;
    margin: 20px;
}
.buy{
    text-align: center;
    display:inline;
    border-radius: 30px;
    margin-left: 45vw;
    padding: 10px 50px 10px 50px;
    color: black;
    background-color: rgb(238, 238, 24);
}
.buy a{
    text-decoration: none;
    color: black;
}
.buy:hover{
    background-color: rgb(244, 244, 129);
}